In [1]:
print("Hello, World")

Hello, World

In [2]:
if 5 > 2:
    print(f"Five is greater than two!")
if 2 < 5:
    print(f"Two is less than five!")

Five is greater than two!
Two is less than five!

In [3]:
x = 10

y = "Love you mama!"

print(x)
print(y)

10
Love you mama!

In [4]:
# this is a comment
x=10
y=50
print(x + y)

60

In [5]:
""""
this is a comment
written in 
more than just one line
"""
x=10
y=50
print(x + y)

60

In [6]:
x = 4 # x is of type int
x= "Sally" # y is of type str
print(x)

Sally

In [7]:
x = str(3) # x will be '3'
y = int(3) # y will be '3'
z = float(3) # z will be '3.0'
print(x)
print(y)
print(z)

3
3
3.0

In [8]:
x = 5
y="Joel"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
x = "Joel"
# is the same as 
x = 'Joel'

print(x)

Joel

In [10]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

In [11]:
x, y, z = "Joel", "Sally", 10

print(x)
print(y)
print(z)

Joel
Sally
10

In [12]:
x = y = z = "Joel"
print(x)
print(y)
print(z)

Joel
Joel
Joel

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
x= "Python"
y= "is"
z= "awesome"
print(x,y,z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome "
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = 10
print(x + y)

15

In [18]:
x = 5 
y = "Joel"
print(x , y)

5 Joel

In [19]:
 # Create a variable outside of the function
x = "awesome "
def myfunc():
    print("Python is " + x)
myfunc()

Python is awesome

In [20]:
# Create a variable inside of the function

x = "awesome "
def myfunc():
    x = "Fantastic"
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is Fantastic
Python is awesome

In [21]:
# Global keyword belong to the global scope

def myfunc():
    global x
    x = "Fantastic"

myfunc()
print("Python is " + x)

Python is Fantastic

In [22]:
# Global variable inside of the function

x = "awesome "
def myfunc():
    global x
    x = "Fantastic"
myfunc()

print("Python is " + x)

Python is Fantastic

Test Type : str 
Numeric Types : int, float, complex
Sequence Types : list, tuple, range
Mapping Types : dict
Set Types: set, frozenset
Boolean Types : bool
Binary Types : bytes, bytearray, memoryview
None Type : NoneType

In [23]:
# 1
x = "Hello World"
print(type(x))
# 2
x = 20
print(type(x))
# 3
x = 20.0
print(type(x))
# 4
x = 20j
print(type(x))
#5
x = ["Apple", "Banana", "Cherry"]
print(type(x))
#6
x = ("Apple", "Banana", "Cherry")
print(type(x))
#7
x = range(10)
print(type(x))
# 8
x = {"Apple" : 3 , "Banana" : 4, "Cherry" : 5}
print(type(x))
# 9 
x = {"Joel", "Samuel"}
print(type(x))
# 10
x = frozenset({"Joel", "Samuel"})
print(type(x))
# 11
x = False
print(type(x))
# 12 
x = b"Appple"
print(type(x))
# 13
x = bytearray(5)
print(type(x))
# 14
x = memoryview(bytes(5))
print(type(x))
# 15 
x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [24]:
x = 1 # int
y = 4.8 # float
z = 2j # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [25]:
x = 1
y = 23455567876543456
z = -2334556
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [26]:
x = 1.09
y = 1.0 
z = -45.99

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [27]:
x = 25e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [28]:
x = 4 
y = 2.6
z = 5j

# convert from int to float
a = float(x)

#convert from float to int
b = int(y)

#convert int to complex
c = complex(z)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

4.0
2
5j
<class 'float'>
<class 'int'>
<class 'complex'>

In [29]:
# RANDOM NUMBER

import random
print(random.randrange(1,19))

12

In [30]:
a = "Nigga"
print(a)

Nigga

In [31]:
b = """ fuck you nigga """
print(b)

 fuck you nigga

In [32]:
c = ''' Love you nigga '''
print(c)

 Love you nigga

In [33]:
a = "Hello Nigga"
print(a[1])

e

In [34]:
for x in "Nigga":
    print(x)

N
i
g
g
a

In [35]:
a = "Hello Nigga"
print(len(a))

11

In [36]:
txt = "Hello Nigga"
print("Nigga" in txt )

True

In [37]:
txt = "Hello Nigga"
if "Nigga" in txt:
    print("Yes, 'Nigga' is in present.")

Yes, 'Nigga' is in present.

In [38]:
txt = "Hello Nigga"
print("Baah" not in txt)

True

In [39]:
txt = "Hello Nigga"
if "Baah" not in txt:
    print("Yes, 'Baah' is not in present.")

Yes, 'Baah' is not in present.

In [40]:
b = "Hello Nigga"
print(b[2:5])

llo

In [41]:
b = "Hello Nigga"
print(b[:5])

Hello

In [42]:
b = "Hello Nigga"
print(b[2:])

llo Nigga

In [43]:
b = "Hello Nigga"
print(b[-4:-1])

igg

In [44]:
b = "Hello Nigga"
print(a.upper())

HELLO NIGGA

In [45]:
b = "Hello Nigga"
print(b.lower())

hello nigga

In [46]:
b = "Hello, Nigga!"
print(b.strip()) # Return Hello, Nigga!

Hello, Nigga!

In [47]:
b = "Hello, Nigga!"
print(a.replace("H", "J"))

Jello Nigga

In [48]:
a = "Hello, Nigga!"
print(a.split(",")) # return ["Hello", "Nigga!"]

['Hello', ' Nigga!']

In [49]:
a = "Hello"
b = "Nigga!"
c = a + b
print(c)

HelloNigga!

In [50]:
a = "Hello"
b = "Nigga!"
c = a + " " + b
print(c)

Hello Nigga!

In [51]:
age = 20
txt = "My name is Joel and I am {}"
print(txt.format(age))

My name is Joel and I am 20

In [52]:
quantity = 3 
itemno = 534
price = 45.79
myoder = " I want {} pieces of items {} for {} dollars."
print(myoder.format(quantity, itemno, price))

 I want 3 pieces of items 534 for 45.79 dollars.

In [53]:
quantity = 3 
itemno = 534
price = 45.79
myoder = " I want to pay {2} dollars for {0} pieces of items{1}."
print(myoder.format(quantity, itemno, price))

 I want to pay 45.79 dollars for 3 pieces of items534.

In [54]:
txt = "We are the so-called \"Baah\" from the north"
txt

'We are the so-called "Baah" from the north'

In [55]:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [56]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [57]:
a = 200 
b = 400

if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")

b is greater than a

In [58]:
print(bool("Hello"))
print(bool(10))

True
True

In [59]:
x = "Samisco"
y = 10 
print(bool(x))
print(bool(y))

True
True

In [60]:
bool ("abc")
bool(123)
bool(["Sam","Joe","Trina"])

True

In [61]:
class myclass():
    def __len__(self):
         return 0 
myobj = myclass()
print(bool(myobj))

False

In [62]:
def myFunction():
    return True
print(myFunction())

True

In [63]:
def myFunction2():
    return True
if myFunction2():
    print("Yes")
else: 
    print("No")

Yes

In [64]:
x = 400
print(isinstance(x, int))

True

In [65]:
# Addition 
10+5

15

In [66]:
#Subtraction
10-5

5

In [67]:
# Division
10/5

2.0

In [68]:
# Multiplication
10*5

50

In [69]:
# Modulus 
10%5

0

In [70]:
# Exponentiation
10**5

100000

In [71]:
# Floor division
10//5

2

In [72]:
# and return True if both are true
x = 5
x < 5 and x < 5

False

In [73]:
# or Return True if both are true
x = 10 
x < 5 or x < 4

False

In [74]:
# not Return the result, returns False if the result is true
x = 5
not (x > 5  and x < 10)

True

In [75]:
# is (Return True if both variables are the same object)
x = ["Kwasi", "Kwame"]
y = ["Kwasi", "Kwame"]
z = x

print(x is z) # Return True because z is the same object as x
 
print(y is x) # Return False because y is not in the same object as z even if they have the same contents

print(x == y) # Return True because x has the same contents as y

True
False
True

In [76]:
# is not (Return True if both variables are not the same object)

x = ["Kwasi", "Kwame"]
y = ["Kwasi", "Kwame"]
z = x

print(x is not z) # Return False because z is not the same object as x

print(y is not x) # Return True because y is not in the same object as z even if they have the same contents

print (x != y) # Return False because

False
True
False

In [77]:
# in (Return True if a sequence with the specified value is present in the object)

x = ["Kwasi", "Kwame"]
print('joel' in x)
print('Kwasi' in x)

False
True

In [78]:
# not in (Return True if a sequence with the specified value is not present in the object)
x = ["Kwasi", "Kwame"]
print('joel' not in x)
print('Kwasi' not in x)

True
False

In [79]:
Va =  ['Sam', 'is', 'nigga']
print(Va)

['Sam', 'is', 'nigga']

In [80]:
# List Length
print(len(Va))

3

In [81]:
# List Items - Data Types

Va1 = ['Sam', 'is', 'nigga']
Va2 = [2, 3, 5, 6, 8 ,10]
Va3 = [True, False, False]

print(Va1)
print(Va2)
print(Va3)

['Sam', 'is', 'nigga']
[2, 3, 5, 6, 8, 10]
[True, False, False]

In [82]:
Ba1 = ["abc", 32, True, 20, "Man"]
print(Ba1)

['abc', 32, True, 20, 'Man']

In [83]:
# Type
type(Ba1)

list

In [84]:
Ba1 = ["Banana", "Monkey", "Zoo"]
print(type(Ba1))

<class 'list'>

In [85]:
# The list () Construtor

Va1 = list(("Apple", "Banana", "Monkey")) # note the double round-brackets
print(Va1)

['Apple', 'Banana', 'Monkey']

In [86]:
#Access Items 
Va1 = ["Banana", "Monkey", "Zoo"]
print(Va1[1])

Monkey

In [87]:
# Negative Indexing (Start from the end)
Va1 = ["Banana", "Monkey", "Zoo"]
print(Va1[-1])

Zoo

In [88]:
# Range of Index (Return the third, fourth, fifth)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish"]
print(Va1[2:5])

['Zoo', 'Lion', 'Tiger']

In [89]:
# Range will start at the first item to the fourth item)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish"]
print(Va1[:4])

['Banana', 'Monkey', 'Zoo', 'Lion']

In [90]:
# This will start from 2 to the end.
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish"]
print(Va1[2:])

['Zoo', 'Lion', 'Tiger', 'Dog', 'Fish']

In [91]:
# Range of Negative Indexes
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
print(Va1[-4:-1]) # Index -4 (inculded) to index -1 (excluded)

['Tiger', 'Dog', 'Fish']

In [92]:
# Check if item Exists 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
if 'Cat' in Va1:
    print("Yes, 'Cat' is in present.")

Yes, 'Cat' is in present.

In [93]:
# Change Item Value (Change the six item)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1[6] = "Snake"
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Snake', 'Cat']

In [94]:
# Change a Range of item Value 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1[1:3]= ["Snake", "Cobra"]
print(Va1)

['Banana', 'Snake', 'Cobra', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [95]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1[1:2] = ["Snake", "Cobra"]
print(Va1)

# Change the second value by replacing it with two new values:

['Banana', 'Snake', 'Cobra', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [96]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1[1:3]= ["Watermelon"]
print(Va1)

# Change the second and third values by replacing it with one value:

['Banana', 'Watermelon', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [97]:
#Append Items ( Add an items at the end of the list)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.append("watermelon")
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'watermelon']

In [98]:
# Insert Items (To insert items at a specified index)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.insert(0,"Watermelon")
print(Va1)

['Watermelon', 'Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [99]:
# Extend list (Add another list to current list)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va2 = ["Baah", "Samuel","Marcos"]
Va1.extend(Va2)
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'Baah', 'Samuel', 'Marcos']

In [100]:
#Add any Iterable (method does not have to append list, you can add any iterable object (Tuples,sets,dictionaries etc.))
Va1 =  ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va2 = ("Baah", "Samuel","Marcos")
Va1.extend(Va2)
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'Baah', 'Samuel', 'Marcos']

In [101]:
# Remove Specified Item
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.remove("Monkey")
print(Va1)

['Banana', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [102]:
# Remove Specified Index
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.pop(2)
print(Va1)

['Banana', 'Monkey', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [103]:
Va1= ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.pop()
print(Va1)

# Removes the last items if no index

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish']

In [104]:
# del 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
del Va1 [1:2]
print(Va1)

['Banana', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [105]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
del Va1

In [106]:
# Clear the list (Method will empty the list)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.clear()
print(Va1)

[]

In [107]:
# Loop Through a list 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
for x in Va1:
    print(x)

Banana
Monkey
Zoo
Lion
Tiger
Dog
Fish
Cat

In [108]:
# Loop Through the Index Number (use the range() and len() functions to create a suitable iterable)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
for i in range(len(Va1)):
    print(Va1[i])

Banana
Monkey
Zoo
Lion
Tiger
Dog
Fish
Cat

In [109]:
# Using a While Loop 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
i = 0
while i < len(Va1):
    print(Va1[i])
    i = i + 1

Banana
Monkey
Zoo
Lion
Tiger
Dog
Fish
Cat

In [110]:
Va2 = ["Samuel", "Joel", "Trina"]
i = 0 
while i < len(Va2):
    print(Va2[i])
    i = i + 1

Samuel
Joel
Trina

In [111]:
# Looping Using List Comprehension (Shortest syntax for looping through lists:)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
[print(x) for x in Va1]

Banana
Monkey
Zoo
Lion
Tiger
Dog
Fish
Cat

[None, None, None, None, None, None, None, None]

In [112]:
Va2 = ["Samuel", "Joel", "Trina"]
[print(x) for x in Va2]

Samuel
Joel
Trina

[None, None, None]

In [113]:
Va2 = ["Samuel", "Joel", "Trina"]
newpaper= []
for x in Va2:
    if "a" in x:
        newpaper.append(x)
print(newpaper)

['Samuel', 'Trina']

In [114]:
Va2 = ["Samuel", "Joel", "Trina"]
newpaper = [x for x in Va2 if "o" in x]
print(newpaper)

['Joel']

In [115]:
# List Comprehension ( Will print the List with "a" in it)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = []
for x in Va1:
    if "a" in x:
        newlist.append(x)
print(newlist)

['Banana', 'Cat']

In [116]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = []
for x in Va1:
    if "o" in x:
        newlist.append(x)
print(newlist)

['Monkey', 'Zoo', 'Lion', 'Dog']

In [117]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = []
for x in Va1:
    if "i" in x:
        newlist.append(x)
print(newlist)

['Lion', 'Tiger', 'Fish']

In [118]:
# With list comprehension you can do all that with only one line of code:

Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = [x for x in Va1 if "a" in x]
print(newlist)

['Banana', 'Cat']

## The Syntax

In [119]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = [x for x in Va1 if x != "Zoo"]
print(newlist)

['Banana', 'Monkey', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [120]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
newlist = [x for x in Va1 ]
print(newlist)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [121]:
newlist = [x for x in range (12) if x < 11]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
newlist = [x.upper() for x in Va1] # New list Upper Case:
print(newlist)

['BANANA', 'MONKEY', 'ZOO', 'LION', 'TIGER', 'DOG', 'FISH', 'CAT']

In [123]:
newlist = ['hello' for x in Va1]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello']

In [124]:
newlist = [x if x != "Zoo" else "Mouse" for x in Va1]
print(newlist)

['Banana', 'Monkey', 'Mouse', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [125]:
# Sort Lists (Will sort the list alphabetically, ascending, by default)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.sort()
print(Va1)

['Banana', 'Cat', 'Dog', 'Fish', 'Lion', 'Monkey', 'Tiger', 'Zoo']

In [126]:
Num = [12,4,5,89,00,77,144]
Num.sort()
print(Num)

[0, 4, 5, 12, 77, 89, 144]

In [127]:
# Sort Descending (Reverse = True)
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.sort(reverse = True)
print(Va1)

['Zoo', 'Tiger', 'Monkey', 'Lion', 'Fish', 'Dog', 'Cat', 'Banana']

In [128]:
# Customize Sort Function

def myfunc(n):
    return abs(n - 40)
Va1 = [100, 40, 65, 83, 23]
Va1.sort(key = myfunc)
print(Va1)

[40, 23, 65, 83, 100]

In [129]:
def myfunc(m):
    return abs (m - 60)
Va1 = [500, 800,400,50,20,61]
Va1.sort(key = myfunc)
print(Va1)

[61, 50, 20, 400, 500, 800]

In [130]:
# Case Insensitive Sort
Va1 = ["banana", "Monkey", "zoo", "Samuel"]
Va1.sort()
print(Va1)

['Monkey', 'Samuel', 'banana', 'zoo']

In [131]:
# Perform a case-insensitive sort of the list:
Va3 = ["banana", "Monkey", "Zoo", "amen"]
Va3.sort(key = str.lower)
print(Va3)

['amen', 'banana', 'Monkey', 'Zoo']

In [132]:
# Reverse Sort
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va1.reverse()
print(Va1)

['Cat', 'Fish', 'Dog', 'Tiger', 'Lion', 'Zoo', 'Monkey', 'Banana']

In [133]:
# Copy a List
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
mylist = Va1.copy()
print(mylist)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [134]:
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
mylist = list(Va1)
print(mylist)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat']

In [135]:
# Join Two Lists
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va2 = ["Klk","Hola"]
Va3 = Va1 + Va2
print(Va3)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'Klk', 'Hola']

In [136]:
# Append list2 into list1 
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va2 = ["Klk","hello"]
 
for x in Va2:
     Va1.append(x)
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'Klk', 'hello']

In [137]:
# Extend() method
Va1 = ["Banana", "Monkey", "Zoo","Lion","Tiger","Dog","Fish","Cat"]
Va2 = ["Klk","hello"]
Va1.extend(Va2)
print(Va1)

['Banana', 'Monkey', 'Zoo', 'Lion', 'Tiger', 'Dog', 'Fish', 'Cat', 'Klk', 'hello']

In [138]:
elementos = [10, 20.5, "Python", 45, "OpenAI", 3.1415]
# Listas vacas para clasificar los elementos
numeros = []
textos = []

In [139]:
elementos = [10, 20.5, "Python", 45, "OpenAI", 3.1415]
# Listas vacas para clasificar los elementos
numeros = []
textos = []

for element in elementos:
    if isinstance(element, (int,float)):
        numeros.append(element)
    elif isinstance(element, str):
        textos.append(element)

for numero in numeros:
    print(f"este elemento es numero: {numeros}")

for texto in textos:
    print(f"este elemento es texto: {textos}")

este elemento es numero: [10, 20.5, 45, 3.1415]
este elemento es numero: [10, 20.5, 45, 3.1415]
este elemento es numero: [10, 20.5, 45, 3.1415]
este elemento es numero: [10, 20.5, 45, 3.1415]
este elemento es texto: ['Python', 'OpenAI']
este elemento es texto: ['Python', 'OpenAI']